<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{post.post_content}})</span>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn btn-info">Save Post</button>

    <button type="button" class="btn btn-danger delete-post-btn">Delete Post</button>
  </form>
</article>
  <script src="/Javascript/edit-post.js"></script>



<form id="comment-form">
<div class="mb-3">
  <label for="comment" class="form-label">Leave a Comment</label>
  <textarea name="comment-body" class="form-control" id="comment-area" rows="3"></textarea>
</div>
  <div>
<button type="submit" class="btn btn-info">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/Javascript/delete-post.js"></script>
<script src="/Javascript/comment.js"></script>